PORT=3000
# Option locale (recommandee pour la correction)
MONGODB_URI=mongodb://localhost:27017/an2lou

# Option MongoDB Atlas (remplacer avec vos infos)
# MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/an2lou?retryWrites=true&w=majority
